version: '3.5'
services:
  app:
    container_name: app
    build:
      dockerfile: Dockerfile
      context: .
    env_file: .env
    volumes:
      - ".:/app"
    command: ["pipenv", "run", "gunicorn", "--bind", "0.0.0.0:3000", "--workers", "3", "src.wsgi:application", "--reload"]
    ports:
      - "3000:3000"
